/**
 * @author MOR      Nicolas
 * @author NGUYEN   Nicolas
 * @author FARGEAUD Gauvain
 */


td{
	border:4px solid red;
	  width:125px;
	  height:125px;
	  position:relative;
  }
  
  #board {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translateX(-50%) translateY(-50%);
	  border:4px solid black;
	  position:absolute;
  }
  
  .pions1 {
	  width: 0;
	  height: 0;
	  border-left: 18px solid transparent;
	  border-right: 18px solid transparent;
	  border-bottom: 30px solid blue;
  }
  
  .pions2 {
	  width: 0;
	  height: 0;
	  border-left: 18px solid transparent;
	  border-right: 18px solid transparent;
	  border-bottom: 30px solid purple;
  }
  
  .etageUn{
	  margin-left:4px;
	  width:85px;
	  height:85px;
	  border:2px solid green;
  }
  
  .etageDeux{
	  margin-left:8px;
	  margin-top:8px;
	  width:65px;
	  height:65px;
	  border:2px solid black;
  }
  
  .etageTrois{
	  margin-left:11px;
	  margin-top:11px;
	  width:40px;
	  height:40px;
	  border:2px solid orange;
  }
  
  .dome{
	  margin-left:1px;
	  margin-top:0.5px;
	  width:35px;
	  height:35px;
	  border-radius: 40px;
	  border:2px solid pink;
  }